html,
body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}

/* Using flexbox for the main layout */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ui.top.menu {
    /*height: 50px;*/
    width: 100%;
    margin: 0;
    /* Ensures the menu takes the full width */
    /*z-index: 2;*/
    /* Ensures the menu stays on top */
}

.echarts-section {    
    flex-grow: 1;
    min-height: 50%;
    resize: vertical;
}

.bottom-section {
    flex-grow: 1;
    min-height: 25%;
    overflow-y: auto;       /* Makes this section only scrollable */    
    
    background-color: var(--background-color);
    padding: 10px;
}

.ui.inverted.segment {
    background-color: var(--segment-inv-bg-color);
}

.ui.top.left.pointing.dropdown .menu,
.ui.top.right.pointing.dropdown .menu {
    position: absolute;
    top: 150%;
    /* Aligns the top of the dropdown menu with the bottom of the button */
    left: 0;
    /* Aligns the dropdown menu to the left edge of the dropdown button */
    /* Adjust 'left' as necessary if you need the dropdown to align differently */
}

#dpTo,
#dpFrom {
    position: relative;
    z-index: 1000;
}

.ui.inverted.table{
    background-color: var(--background-color);
}